<div class="sesion-footer">
    <div class="mt-5">
        <div class="row row-w-80 mx-auto">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="div-items-footer text-left">
                    <span class="title-footer ursor-pointer">SERVICIOS</span>
                </div>
                <div class="col-sm-9 col-contact gradient-footer "> &nbsp; </div>
                <div  class="div-items-footer text-left cursor-pointer">
                    <span class="title-footer cursor-pointer">QUIENES SOMOS</span>
                </div>
                <div class="col-sm-9 col-contact gradient-footer"> &nbsp; </div>
                <div  class="div-items-footer text-left cursor-pointer">
                    <span class="title-footer cursor-pointer">CONTÁCTOS</span>
                </div>
                <div class="col-sm-9 col-contact gradient-footer "> &nbsp; </div>
                <div 
                    class="div-items-footer text-left  cursor-pointer">
                    <span class="title-footer cursor-pointer">BLOG</span>
                </div>
                <div class="col-sm-9 col-contact gradient-footer "> &nbsp; </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <div class="text-left title-footer">
                    TELF: 0999262152
                </div>
                <div class="col-sm-12 col-contact gradient-footer"> &nbsp; </div>
                <div class="text-left title-footer">
                    DIRECCIÓN: URB JARDINES DEL RIO
                </div>
                <div class="col-sm-12 col-contact gradient-footer"> &nbsp; </div>
                <div class="text-left title-footer">
                    MAIL: INFO@INSPIRAPMC.COM
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center">
                <img class="logo-footer" src="../../assets/img/Logo Michelle Coello Blanco.svg">
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="row">
                    <div class="row text-center">
                        <div class="col-sm-1 col-md-1 col-xs-1">
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3 cursor-pointer">
                            <a
                            href="https://api.whatsapp.com/send?phone=593998985448&text=Hola,%20te%20has%20comunicado%20con%20Inspira,%20cuéntanos%20cómo%20podemos%20ayudarte" target="_blank">
                                <img class="img-redes-footer" src="../../assets/img/Whatsapp Blanco.svg">
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3 cursor-pointer">
                            <a href="https://www.instagram.com/4woman.ec/">
                                <img class="img-redes-footer" src="../../assets/img/Instagram Blanco.svg">
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3 cursor-pointer">
                            <a href="https://www.facebook.com/4woman.ec">
                                <img class="img-redes-footer" src="../../assets/img/Facebook Blanco.svg">
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center">
                        <img class="logo-footer" src="../../assets/img/Logo Inspira Blanco.svg">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center" style="max-width: 100%; margin: 0 auto; background-color:#9cc1c8;">
    <div class="col-sm-12 col-contact text-center">
    </div>
</div>